.ui-field-error {
  padding: 0.25em 0.5em;
  display: block;
  background-color: transparent;
  border: 0 none;
  margin: 0;
  color: #e62a10;
  font-size: 0.75em;
}

.error-message-login {
  padding-bottom: 0;
  padding-top: 0;
}
