$primaryColor: #003E65;
$primaryDarkColor: #003E65;
$primaryLightColor: #003E65;
$accentColor: #00AADB;
$accentDarkColor: #00AADB;
$accentLightColor: #00AADB;
$accentTextColor: #fff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #FFC107;
$lightMenuRouterLinkActiveColor: #03A9F4;
$horizontalLightMenuRouterLinkActiveColor: #FFC107;

@import '../sass/layout/_layout';
