/* Common */
$textColor: #212121;
$textSecondaryColor: #757575;
$fontFamily: "Roboto","Helvetica Neue",sans-serif;
$fontSize: 14px;
$lineHeight: 18px;
$transitionDuration: .3s;
$borderRadius: 3px;
$iconFontSize:1.5em;
$iconWidth:1em;
$iconHeight:1em;
$overlayMaskBgColor:#424242;
$errorColor:#e62a10;
$errorTextColor:#ffffff;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;
$dividerColor:#dbdbdb;
$dividerLightColor:#cacaca;

$blueGrey:#607D8B;
$cyan:#00BCD4;
$teal:#009688;
$red:#F44336;
$green:#4CAF50;
$deepOrange:#FF5722;
$purple:#673AB7;
$pink:#E91E63;
$amber:#FFC107;
$orange:#FF9800;
$brown:#795548;
$indigo:#3F51B5;

$blueGreyDark:#37474F;
$cyanDark:#00838F;
$tealDark:#009688;
$redDark:#C62828;
$greenDark:#2E7D32;
$deepOrangeDark:#D84315;
$purpleDark:#4527A0;
$pinkDark:#AD1457;
$amberDark:#FF8F00;
$orangeDark:#EF6C00;
$brownDark:#4E342E;
$indigoDark:#283593;

$transition: all 0.2s ease-out;

$logoPath: url("../images/logo/initrack-logo-white.png");
$logoSquarePath: url("../images/logo/initrack-logo-square.png");
$logoSquareWhitePath: url("../images/logo/initrack-logo-square-white.png");
$header-height: 70px;
$slim-menu-width: 60px;
$static-menu-width: 200px;

